.main-button {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main-button:hover {
    filter: brightness(80%);
}